.sidebar {
    width: 20%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    flex-direction: column;
    
    font-size: max(1vw, 10px);
    background: #b9bbed;
    /* margin-top: 100px; */
    
  }
  
  .sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;  
  }
  
  .sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid black;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .sidebar-option p{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  /* .sidebar-option.active {
    background-color: #fff0ed;
    border-color: #49557e;
  } */

  .image {
    width: 50px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  @media (max-width: 1024px) {
    
    .sidebar{
      width: 200px;
      width: 27%;
    }
    .sidebar-option{
      height: 50px;
    }
  }

  @media (max-width: 780px) {
    .sidebar-option p {
      display: none;
    
    }
    .sidebar{
      width: 200px;
      width: 27%;
    }
    .sidebar-option{
      height: 50px;
    }
  }